{% load static %}

<!-- login page start-->
<div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-12 p-0">    
        <div class="login-card login-dark">
          <div>
            <div class="text-center mb-4">
              <a href="/">
                <img src="{% static 'assets/images/logo/logo_full_black.png' %}" alt="App Logo"
                    style="height: 160px;" class="d-block mx-auto">
              </a>
            </div>
              <form class="theme-form">
                <h2>Sign in to account</h2>
                <p class="f-m-light mt-1">Enter your email & password to login</p>
                <div class="form-group">
                  <label class="col-form-label">Email Address</label>
                  <input class="form-control" type="email" id="id_username" required="" placeholder="Test@gmail.com">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Password</label>
                  <div class="form-input position-relative">
                    <input class="form-control" type="password" id="id_password" name="login[password]" required="" placeholder="*********">
                    <div class="show-hide"><span class="toggle-password">Show</span></div>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <div class="checkbox p-0">
                    <input id="checkbox1" type="checkbox">
                    <label class="text-muted" for="checkbox1">Remember password</label>
                  </div><a class="link" href=#>Forgot password?</a>
                  <div class="text-end mt-3">
                    <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
                  </div>
                </div>
                <h6 class="text-muted mt-4 or">(Comming Soon...)</h6>
                <div class="social mt-4">
                  <div class="btn-showcase"><a class="btn btn-light" href="https://www.linkedin.com/login" target="_blank"><i class="txt-linkedin" data-feather="linkedin"></i> LinkedIn </a><a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank"><i class="txt-twitter" data-feather="twitter"></i>twitter</a><a class="btn btn-light" href="https://www.facebook.com/" target="_blank"><i class="txt-fb" data-feather="facebook"></i>facebook</a></div>
                </div>
                <p class="mt-4 mb-0 text-center">Don't have account?<a class="ms-2" href="{% url 'register' %}">Create Account</a></p>
              </form>
            </div>
          </div>
        </div>
    </div>
    